body {
  background-color: #e9effa;
}
.imagem__aprendendo {
  height: 100px;
  margin-bottom: 30px;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

